{%extends "reel_deal_fishing_app/layout.html"%}

{%block content%}
<div class="container prod_box">
    <div class="prod_name"> Rods</div> 
    {% for item in products %} 
    <div class="container prod_row">
        <div class="row">
          <div class="col">
            <img src="{{item.img}}" class="img-thumbnail" alt="img">
          </div>
          <div class="col prod">
           <h3>{{item.name}}</h3><br>
           <h4>${{item.price}}.00</h4> 
          </div>
          <div class="col prod">
            <form action="/cart/" method="POST" id="shop">
              {% csrf_token %}
              <button type="submit" name = 'purchase' value="{{item.item_id}}" form="shop" class="btn btn-warning">ADD TO CART</button>
            </form>
          </div>
        </div>
      </div>
      {% endfor %}
</div>
{%endblock%}